# zig
.zig-cache/
zig-out/
zig-pkg/

# build artifacts
*.o
*.obj
*.a
*.lib
*.dll
*.dylib
*.exe
*.so
*.pdb

# editor
.vscode/
.idea/

# nix
result
result-*
.direnv/

# tree-sitter
node_modules/
tree_sitter_juck/src/parser.c
tree_sitter_juck/src/grammar.json
tree_sitter_juck/src/node-types.json
tree_sitter_juck/src/tree_sitter/
